<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Kitap Reyonu</title>
  <link rel="stylesheet" href="./css/bootstrap.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body class="bg-light ml-5">
  <div class="container">
    <img class="mt-5" src="<%=image%>" alt="">
    <h1 class="text-warning">Book Title: <%=Booktitle%> </h1>
    <p class="fs-4 fw-bold">Author: <%=Author%> </p>
    <p class="fs-5">Description: <%=Description%> </p>
    <p class="fs-5">Price: <%=Price%></p>
  </div>

</body>

</html>
